<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Marius Mircea">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <title> Dent Glow </title>
  </head>
<body>
	<navabar class="navbar">
      <div class="left-menu">
<<<<<<< HEAD
        <%['home', 'services', 'team', 'account', 'contact'].map((page) => {%>
=======
        <%['home', 'services', 'team', 'account', 'contact', 'logout'].map((page) => {%>
>>>>>>> origin/node_js
          <a class="navbar-link <%= route === page ? 'active' : '' %>" href="/<%=page%>">
            <%=page%>
          </a>
          <%});%>
      </div>
      <div class="branding">
  		    Dent Glow
      </div>
      <% if (typeof user == 'undefined') { %>
      <div class="right-menu right">
        <a class="ui button inverted green right" href="/login">Login</a>
        <a class="ui button inverted red"         href="/register">Register</a>
      </div>
      <% } else { %>
        <div class="right-menu right" style="display: flex; align-items: center;">
          <div class="nav_username"> <%= user.user_name %></div>
          <a class="ui button inverted red"         href="/logout">Logout</a>
        </div>
      <% } %>
	</navabar>
</body>
