<body>
  <form role="form" method="post" action="/adminPanel">
    <% if (msg.length < 2){ %>
    <p> <%= msg %> </p>
    <% }else{ %>
    <p> <%= msg %> </p>
    <% } %>
    <input for="title" name="title" type="text" placeholder="Table Title" required>
    <input for="picture" name="picture" type="file" accept="image/*">
    <input for="youtube" name="youtube" type="text" placeholder="YouTube Link">
    <input for="textarea" name="textarea" type="text" placeholder="Description">
    <button type="submit">Submit</button>
  </form>
</body>
