<% include partials/header %>
<link rel="stylesheet" href="assets/css/contact.css">

<div class="showcase">
      <div class="description">
        <p class="title">Our quality services</p>
      </div>
</div>

<div class="wrap">
  <div class="main content contact_class">
    <h1>Contact us!</h1>
    <table width="1280" class="contact_table" style="height: 720">
      <tbody>
        <tr>
          <td>
            <div class="contact_section">
              <form class="contact_form" novalidate="">
                <input clas="name field" type="text" maxlength="64" placeholder="Full Name" value="" />
                <input class"email field" type="email" maxlength="64" placeholder="Email" value="" />
                <input class="subject field" type="text" maxlength="32" placeholder="Subject" value="" />
                <textarea class="message field area" placeholder="Message" rows="8"></textarea>
                <button class="message_button" style="width:100px" type="submit">Send Message</button>
              </form>
            </div>
          </td>
          <td style="text-align: left">
            <h4>
              <strong> Dent Glow Clinic </strong>
            </h4>
            <p> Timisoara, Emanuil Gojdu, nr. 10, Romania </p>
            <p></p>
            <p> <strong> Working Program </strong> </p>
            <p> Luni      09:00 - 15:00 </p>
            <p> Marti     09:00 - 16:30 </p>
            <p> Miercuri  12:00 - 18:30 </p>
            <p> Joi       09:00 - 16:00 </p>
            <p> Vineri    10:00 - 14:00 </p>
            <p></p><p></p><p></p>
            <p> <strong> Appointments and Other issues </strong> </p>
            <p> E-Mail: contact@dentglow.ro </p>
            <p> Mobile Phone: 0799520378    </p>
            <p> Landline: 0256 324 541      </p>
            <p></p><p></p><p></p>
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Where to find us!</h1>
    <p></p>
  </div>
</div>


<div class="archive">
  <div class="section-title">
    Our services include
  </div>
</div>

<div id="quote">
  <blockquote>Life is short, so smile while you still have teeth!</blockquote>
</div>


<% include partials/footer %>
