<% include partials/header %>
<link rel="stylesheet" href="assets/css/index.css">

<div class="showcase">
      <div class="description">
        <p class="title">Professional Dental Clinic</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, itaque!</p>
      </div>
</div>


<section id="boxes">
  	<div class="section-title">
  		<p>Check our services!</p>
  	</div>
  	<div class="container-box">
	    <div class="cardBox">
	      <div class="box implants">
	        <div class="b-front">
	          <img src="assets/img/DI.png">
	        </div>
	        <div class="b-back">
	          Dental Implants
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box whitening">
	        <div class="b-front">
	          <img src="assets/img/TW.png">
	        </div>
	        <div class="b-back">
	          Teeth Whitening
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box braces">
	        <div class="b-front">
	          <img src="assets/img/CB.png">
	        </div>
	        <div class="b-back">
	          Clear Braces
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box treatment">
	        <div class="b-front">
	          <img src="assets/img/TT3.png">
	        </div>
	        <div class="b-back">
	          Teeth Treatment
	        </div>
	      </div>
	    </div>
	</div>
</section>

<hr class="separator">

<section>
	<div class="section-title">
		Some next title
	</div>

	<div class="section-container">
		Some data to come
	</div>
</section>	

<div id="quote">
  <blockquote>Life is short, so smile while you still have teeth!</blockquote>
</div>


<% include partials/footer %>