<% include partials/header %>
<link rel="stylesheet" href="assets/css/index.css">

<div class="showcase">
      <div class="description">
        <p class="title">Professional Dental Clinic</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, itaque!</p>
      </div>
</div>

<section>
	<div class="section-title">
		Our mission
	</div>

	<div class="section-container">
		  Some data to come Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  </div>
</section>

<hr class="separator">

<section id="boxes">
  	<div class="section-title">
  		<p>Check our services</p>
  	</div>
  	<div class="container-box">
	    <div class="cardBox">
	      <div class="box implants">
	        <div class="b-front">
	          <img src="assets/img/DI.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Dental Implants </a>
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box whitening">
	        <div class="b-front">
	          <img src="assets/img/TW.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Teeth Whitening </a>
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box braces">
	        <div class="b-front">
	          <img src="assets/img/CB.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Clear Braces </a>
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box treatment">
	        <div class="b-front">
	          <img src="assets/img/TT3.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Teeth Treatment </a>
	        </div>
	      </div>
	    </div>
	</div>
</section>
<hr class="separator">

<section class="gallery-section">
	<div class="section-title">
		Gallery of our clinic
	</div>

	<div class="gallery-container">
		<img class="gallery" tabindex="1" src="assets/img/landing/1.jpg" />
    <img class="gallery" tabindex="2" src="assets/img/landing/1.jpg" />
    <img class="gallery" tabindex="3" src="assets/img/landing/1.jpg" />
    <img class="gallery" tabindex="4" src="assets/img/landing/1.jpg" />
    <img class="gallery" tabindex="5" src="assets/img/landing/1.jpg" />
    <img class="gallery" tabindex="6" src="assets/img/landing/1.jpg" />
	</div>
</section>

<hr class="separator">

<div id="quote">
  <blockquote>Life is short, so smile while you still have teeth!</blockquote>
</div>


<% include partials/footer %>
