<link rel="stylesheet" href="assets/css/login.css">
<style>
.remove{
  text-decoration: none;
  color: inherit;
}
</style>
<body>
  <div class="user">
    <header class="user_header">
    
      <!--<img src="assets/img/tooth.svg"/>-->
      <h1 class="user_title dentglow"> <a class="remove" href="/home"> Dent Glow  </a> </h1>
      <h1 class="user_title"> Enter your account credentials to log-in </h1>
    </header>

    <form class="form" role="form" method="post" action="/login" >
      <div class="form_group">
        <input class="form_input" for="user_name" name="user_name" type="text" placeholder="Username" required/>
      </div>
      <div class="form_group">
        <input class="form_input" for="password" name="password" type="password" placeholder="Password" required/>
      </div>
      <button class="btn" type="submit">Log In</button>
    </form>
  </div>
</body>
