/*NAVBAR STYLE*/

.navbar {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	height: 55px;
	animation: move 10s ease infinite;
	transform: translate3d(0, 0, 0);
	background: linear-gradient(45deg, #49D49D 20%, #A2C7E5 80%);
	min-width: 500px;
}

.right-menu, .left-menu {
	width: 42.5%;
}

.left-menu{
	margin-left: 10px;
}

.nav_username {
		font-size: 20;
		opacity: .7;
		padding-bottom: 2px;
		margin-right: 15px;
		border-bottom: 1px solid #31477F;
}

.branding {
	width: 15%;
	color: #31477F;
	font-weight: bolder;
	font-size: 28px;
	text-align: center;
}

.navbar-links {
	display: flex;
	margin-right: 25px;
}

.navbar-link {
	margin: 0 20px;
	font-size: 16px;
	opacity: .7;
	text-transform: uppercase;
	font-weight: 500;
	color: #FFF;
}

.navbar-link:hover {
	color: #31477F;
	opacity: .9;
}

.active {
	color: #31477F;
	opacity: 1;
	font-weight: 700;
}

.right-menu {
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	margin-right: 20px;
}

.right-menu a {
	color: inherit;
	text-decoration: none;
}

@keyframes move {
    0% {
        background-position: 50% 0
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 0
    }
}
