.team{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.member {
	width: 150px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.member-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-sizing: border-box;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.member-image:hover {
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}

.member-details {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.member-name {
	opacity: .7;
}

.member-role {
	color: #3f51b5;
	font-size: 14px;
	margin-top: 5px;
}
